* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: inter, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.chat-nav {
  position: fixed;
  width: 72px;
  background-color: #202225;
  height: 100vh;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;

    &:nth-child(3) .chat-nav__logo {
      background-image: url(img/chat-nav-musulman.png);
      &:nth-of-type(1):after {
        content: "3k+";
        font-size: 12pt;
        font-weight: medium;
        width: 32;
        height: auto;
        border-radius: 16px;
        padding: 2px;
        background-color: #ed4245;
        position: absolute;
        right: 4px;
        align-self: flex-end;
      }
    }

    &:nth-child(4) .chat-nav__logo {
      background-image: url(img/chat-nav-white-haired.png);
      &:nth-of-type(1):after {
        content: "230";
        font-size: 12pt;
        font-weight: medium;
        width: 32;
        height: auto;
        border-radius: 16px;
        padding: 2px;
        background-color: #ed4245;
        position: absolute;
        right: 4px;
        align-self: flex-end;
      }
    }

    &:nth-child(5) .chat-nav__logo {
      background-image: url(img/chat-nav-add.png);
    }
    &:nth-child(6) .chat-nav__logo {
      background-image: url(img/chat-nav-explore.png);
    }

    &--discord .chat-nav__logo {
      border-radius: 16px;
      background-image: url(img/chat-nav-discord.png);
    }
  }

  &__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 0;
    border-radius: 48px;
    transition: border-radius 0.3s linear;
    transition-delay: 0s;

    &:hover {
      border-radius: 16px;

      & ~ .chat-nav__tip {
        scale: 1;
      }
    }

    &--selected::before {
      content: "";
      height: 40px;
      width: 4px;
      border-radius: 0 4px 4px 0;
      background-color: #fff;
      position: absolute;
      left: 0;
    }

    &:not(.chat-nav__logo--selected) {
      &::before {
        content: "";
        height: 8px;
        width: 4px;
        border-radius: 0 4px 4px 0;
        background-color: #fff;
        position: absolute;
        left: 0;
      }
    }
  }

  &__divider {
    height: 2px;
    width: 32px;
    background-color: #373a3f;
    border-radius: 2px;
    margin: 0 auto;
  }

  &__tip {
    transition: scale 0.3s;
    scale: 0;
    padding: 8px;
    background-color: #202225;
    color: #fff;
    position: absolute;
    left: 84px;
    width: 215px;
    max-height: 60px;
    border-radius: 4px;
    font-size: 12pt;
    font-weight: 500;
    z-index: 100;
  }
}

.friends {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  left: 72px;
  height: 100vh;
  max-width: 240px;
  z-index: 0;

  &__bar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #2f3136;
    height: 95vh;
    width: 240px;
  }

  &__find {
    background-color: #202225;
    height: 100%;
    width: 100%;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #96989d;

    &:focus {
      outline: 0;
      color: #ffffff;
    }
    &-wrapper {
      min-height: 48px;
      padding: 8px;
      border-bottom: 1px solid #232428;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    height: 108px;
    width: 240px;

    &-button {
      &:checked + .friends__menu-fake-button {
        background-color: #42464d;
      }
      display: none;
    }

    &-fake-button {
      transition: 0.3s linear;
      display: block;
      width: 100%;
      padding: 12px 8px;
      padding-left: 48px;
      color: #fff;
      font-size: 15px;
      font-weight: medium;
      border-radius: 4px;
      background-color: #2f3136;
      background-repeat: no-repeat;
      background-position: 15px 50%;

      &--friends {
        background-image: url(img/friends-user.png);
      }
      &--nitro {
        background-image: url(img/friends-nitro.png);
      }
    }
  }

  &__chats {
    padding: 8px;
    padding-top: 0;
  }

  &__header {
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #96989d;

    text-transform: uppercase;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px;
    }
  }

  &__new-message {
    transition: 0.3s linear;
    width: 12px;
    height: 12px;
    font-size: 0px;
    background-image: url(img/friends-plus.png);
    background-color: transparent;
    background-position: 50%;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    height: 5vh;
    background-color: #292b2f;
    width: 240px;
  }

  &__avatar {
    height: 32px;
    width: 32px;
    padding: 8px;
    background-color: #757e8a;
    border-radius: 32px;
  }

  &__username {
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */

    color: #ffffff;
  }

  &__userid {
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    /* identical to box height, or 109% */

    color: #96989d;
  }

  &__chat-buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 80px;
  }

  &__chat-button {
    font-size: 0;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-color: transparent;
    &--micro {
      background-image: url(img/friends-mic.png);
    }

    &--headphones {
      background-image: url(img/friends-phones.png);
    }

    &--parameters {
      background-image: url(img/friends-gear.png);
    }
  }

  &__profile-info {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__online {
    font-size: 0;
    display: block;
    width: 12px;
    height: 12px;
    background-color: #3ba55d;
    border-radius: 32px;
    border: solid #292b2f 2px;
    position: absolute;
    left: 28px;
    bottom: 8px;
  }

  &__list {
    flex: 1;
  }
}

.direct {
  gap: 8px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 12px;

  &__avatar {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: #36393f;
  }

  &__text {
    height: 16px;
    min-width: 24px;
    flex-grow: 5;
    border-radius: 24px;
    background-color: #36393f;
  }
}

.chat {
  background-color: #37393f;
  position: fixed;
  left: 312px;
  height: 100vh;
  //for developing on mac, when release delete the next lines
  width: 1128px;
  max-width: 1604px;

  &__find {
    outline: none;
    padding: 6px;
    font-weight: 500;
    border-radius: 3px;
    color: #6f737a;
    background-color: #202225;
  }

  &__magnicifier {
    position: absolute;
    background-image: url(img/chat-magnifier.png);
    height: 18px;
    width: 18px;
    font-size: 0;

    right: 94px;
    top: 14px;
  }

  &__nav {
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    height: 48px;
    border-bottom: 1px solid #232428;
  }

  &__name-hashtag {
    display: inline-block;
    font-size: 0;
    height: 24px;
    width: 24px;
    background-image: url(img/chat-hashtag.png);
  }

  &__title {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #fff;

    &-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 6px;
    }
  }

  &__nav-block {
    width: 24px;
    height: 24px;
    font-size: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &__bell {
    background-image: url(img/chat-bell.png);
  }

  &__pin {
    background-image: url(img/chat-pin.png);
  }

  &__users {
    background-image: url(img/chat-user.png);
  }

  &__at-symbol {
    background-image: url(img/chat-at.png);
  }

  &__question {
    background-image: url(img/chat-help.png);
  }

  &__messages {
    margin: 0 auto;
    width: 100%;
    padding: 16px 20px;
  }

  &__wrapper {
    height: calc(100vh - 48px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  &__message-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 44px;
    border-radius: 8px;
    overflow: hidden;
    background: #40444b;
  }

  &__message {
    flex-grow: 10;
    border-left: 1px solid #37393f;
    background-color: #40444b;
    padding: 14px;
    font-size: 16px;
    font-weight: 400;
    color: #dcddde;

    &:focus {
      outline: none;
    }
  }

  &__add-material {
    width: 44px;
    height: 44px;
    font-size: 0;
    background-color: #40444b;
    background-image: url(img/chat-plus.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &__other-sends {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-right: 15px;
  }

  &__other-send {
    font-size: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;

    &--gift {
      background-image: url(img/chat-gift.png);
    }
    &--gif {
      background-image: url(img/chat-gif.png);
    }
    &--smile {
      background-image: url(img/chat-face.png);
    }
  }

  &__direct {
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
}

.message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 28px 20px;
  gap: 8px;

  &__avatar {
    font-size: 0;
    min-width: 40px;
    height: 40px;
    align-self: flex-start;

    border-radius: 40px;

    background-image: url(img/friends-discord.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20px;
    background-color: #757e8a;
  }

  &__user-name {
    font-size: 18px;
  }

  &__text-part {
    color: #fff;
  }

  &__text {
    font-size: 14px;
  }
}
